rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Facility accounts security rules
    match /facility_accounts/{facilityName} {
      allow read, write: if true;
    }

    // Admin accounts security rules
    match /admin_accounts/{adminId} {
      allow read, write: if true;
    }

    // Appointment and report records collections
    match /echo_appointments/{docId} {
      allow read, write: if true;
    }
    
    match /stress_test_appointments/{docId} {
      allow read, write: if true;
    }
    
    match /holter_appointments/{docId} {
      allow read, write: if true;
    }
    
    match /blood_pressure_appointments/{docId} {
      allow read, write: if true;
    }
    
    match /lung_function_appointments/{docId} {
      allow read, write: if true;
    }
    
    match /outsource_appointments/{docId} {
      allow read, write: if true;
    }
    
    match /rheumatology_appointments/{docId} {
      allow read, write: if true;
    }

    match /outsource_reports/{docId} {
      allow read, write: if true;
    }
  }
}
